@model LoginInputModel
@inject GeneralLocalization GeneralLocalization

<form asp-controller="@MedicBaseController.GetName(nameof(AccountController))"
      asp-action="@nameof(AccountController.Login)"
      method="post"
      asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="@Model.Username"></label>
        <input class="form-control" asp-for="@Model.Username" />
        <span class="text-danger" asp-validation-for="@Model.Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password"></label>
        <input class="form-control" type="password" asp-for="@Model.Password" />
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RememberMe"></label>
        <input type="checkbox" asp-for="@Model.RememberMe" />
    </div>
    <div>
        <input type="hidden" asp-for="@Model.ReturnUrl" />
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
    <input class="btn btn-light" type="submit" value="@Html.Raw(GeneralLocalization.Get(GeneralLocalization.Login))" />
</form>