@using System.Globalization

@model PatientPageIndexModel
@inject PatientLocalization patientLocalization

@{
    ViewData["Title"] = Model.Title;

    int pages = Model.Count % 10 == 0 ? Model.Count / 10 : (Model.Count / 10) + 1;

    Dictionary<string, string> paramsByName = new Dictionary<string, string>();

    bool hasResults = Model != default && Model.Patients != default && Model.Patients.Count > 0;

    if (Model.Search != default)
    {
        if (!string.IsNullOrWhiteSpace(Model.Search.IdentityNumber))
        {
            paramsByName.Add($"{nameof(Model.Search)}.{nameof(Model.Search.IdentityNumber)}", Model.Search.IdentityNumber);
        }

        if (Model.Search.Age != default)
        {
            paramsByName.Add($"{nameof(Model.Search)}.{nameof(Model.Search.Age)}", Model.Search.Age.ToString());
        }

        if (Model.Search.YoungerThan != default)
        {
            paramsByName.Add($"{nameof(Model.Search)}.{nameof(Model.Search.YoungerThan)}", Model.Search.YoungerThan.ToString());
        }

        if (Model.Search.OlderThan != default)
        {
            paramsByName.Add($"{nameof(Model.Search)}.{nameof(Model.Search.OlderThan)}", Model.Search.OlderThan.ToString());
        }

        if (Model.Search.Sex != default)
        {
            paramsByName.Add($"{nameof(Model.Search)}.{nameof(Model.Search.Sex)}", Model.Search.Sex.ToString());
        }
    }
}

<article>
    <header>
        <h3>@($"{patientLocalization.Get("PatientSearch")} - {Model.Count} {patientLocalization.Get("Results")}")</h3>
    </header>
    <section class="container">
        <form asp-controller="@MedicBaseController.GetName(nameof(PatientController))"
              asp-action="@nameof(PatientController.Index)"
              method="get">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="@Model.Search.IdentityNumber"></label>
                    <input class="form-control" asp-for="@Model.Search.IdentityNumber" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="@Model.Search.Age"></label>
                    <input class="form-control" asp-for="@Model.Search.Age" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label asp-for="@Model.Search.OlderThan"></label>
                    <input class="form-control" asp-for="@Model.Search.OlderThan" />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="@Model.Search.YoungerThan"></label>
                    <input class="form-control" asp-for="@Model.Search.YoungerThan" />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="@Model.Search.Sex"></label>
                    <select class="form-control" asp-for="@Model.Search.Sex" asp-items="@(Model.Sexes.Select(s => new SelectListItem() { Value = s.Id.ToString(), Text = s.Name, Selected = s.Id == null }))"></select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Search" />
            <input type="reset" class="btn btn-dark" value="Reset" />
        </form>
    </section>
    <section class="container mt-1">
        @if (hasResults)
        {
            <div class="row">
                <div class="col-sm-3 font-weight-bold">@patientLocalization.Get("FirstName")</div>
                <div class="col-sm-2 font-weight-bold">@patientLocalization.Get("SecondName")</div>
                <div class="col-sm-3 font-weight-bold">@patientLocalization.Get("LastName")</div>
                <div class="col-sm-2 font-weight-bold">@patientLocalization.Get("BirthDate")</div>
                <div class="col-sm-2 font-weight-bold">@patientLocalization.Get("View")</div>
            </div>
            @foreach (PatientPreviewViewModel patient in Model.Patients)
            {
                <hr />
                <div class="row">
                    <div class="col-sm-3">@(string.IsNullOrWhiteSpace(patient.FirstName) ? patientLocalization.Get("NotSpecified") : patient.FirstName)</div>
                    <div class="col-sm-2">@(string.IsNullOrWhiteSpace(patient.SecondName) ? patientLocalization.Get("NotSpecified") : patient.SecondName)</div>
                    <div class="col-sm-3">@(string.IsNullOrWhiteSpace(patient.LastName) ? patientLocalization.Get("NotSpecified") : patient.LastName)</div>
                    <div class="col-sm-2">@(patient.BirthDate.ToShortDateString())</div>
                    <div class="col-sm-2">
                        <a asp-controller="@MedicBaseController.GetName(nameof(PatientController))"
                           asp-action="@nameof(PatientController.Patient)"
                           asp-route-id="@(patient.Id)" class="btn btn-info">@patientLocalization.Get("View")</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="text-info font-weight-bold text-center">@patientLocalization.Get("NoPatients")</div>
        }
    </section>
    @if (hasResults)
    {
        <footer>
            <pager page-count="@pages"
                   current-page="@Model.CurrentPage"
                   controller-name="@MedicBaseController.GetName(nameof(PatientController))"
                   action-name="@nameof(PatientController.Index)"
                   additional-properties="@paramsByName"
                   nav-class-names="btn-toolbar"
                   ul-class-names="pagination"
                   li-class-names="page-item"
                   li-selected-class-names="page-item active"
                   anchor-class-names="page-link">
            </pager>
        </footer>
    }
</article>