@model PatientPageIndexModel
@inject PatientLocalization patientLocalization
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData[Constants.Title] = Model.Title;

    bool hasResults = Model.Patients != default && Model.Patients.Count > 0;

    Dictionary<string, string> paramsByName = Model.Search != default ? Model.Search.BuildQuery(default) : new Dictionary<string, string>();

    Dictionary<string, string> excelByName = new Dictionary<string, string>(paramsByName.Where(kv =>
    !string.Equals(kv.Key, nameof(Model.Search.Length), StringComparison.OrdinalIgnoreCase) &&
    !string.Equals(kv.Key, nameof(Model.Search.Order), StringComparison.OrdinalIgnoreCase) &&
    !string.Equals(kv.Key, nameof(Model.Search.Direction), StringComparison.OrdinalIgnoreCase)));

    ViewData[Constants.Sexes] = Model.Sexes;
}

<article>
    <header>
        <h2 class="text-center">@($"{Html.Raw(patientLocalization.Get(PatientLocalization.PatientSearch))} - {Html.Raw(Model.TotalResults)} {Html.Raw(patientLocalization.Get(PatientLocalization.Results))}")</h2>
        <h4 class="text-center text-info">@Html.Raw(Model.Keywords)</h4>
        <section class="text-right">
            <a asp-controller="@PatientController.GetName(nameof(PatientController))"
               asp-action="@nameof(PatientController.Excel)"
               asp-all-route-data="@excelByName"
               download
               title="@Html.Raw(patientLocalization.Get(MedicDataLocalization.ExportAsExcel))"
               class="export-anchor">
                <img asp-append-version="true" src="~/images/excel.jpg" alt="@Html.Raw(patientLocalization.Get(MedicDataLocalization.ExportAsExcel))" class="export-image" />
            </a>
        </section>
    </header>
    <section>
        <partial name="~/Views/Shared/Partials/Patients/PatientSearch.cshtml" model="@Model.Search" view-data="@ViewData" />
    </section>
    <section class="mt-sm-1 clearfix">
        <partial name="~/Views/Shared/Partials/Patients/PatientOrder.cshtml" model="@Model.Search" />
    </section>
    <section class="mt-sm-1">
        @if (hasResults)
        {
            <div class="row">
                <div class="col-sm-3 font-weight-bold">@Html.Raw(patientLocalization.Get(PatientLocalization.FirstName))</div>
                <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get(PatientLocalization.SecondName))</div>
                <div class="col-sm-3 font-weight-bold">@Html.Raw(patientLocalization.Get(PatientLocalization.LastName))</div>
                <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get(PatientLocalization.BirthDate))</div>
                <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get(PatientLocalization.ViewPatient))</div>
            </div>
            @foreach (PatientPreviewViewModel patient in Model.Patients)
            {
                <hr />
                <div class="row">
                    <div class="col-sm-3">@(string.IsNullOrWhiteSpace(patient.FirstName) ? Html.Raw(patientLocalization.Get(PatientLocalization.NotSpecified)).ToString() : Html.Raw(patient.FirstName).ToString())</div>
                    <div class="col-sm-2">@(string.IsNullOrWhiteSpace(patient.SecondName) ? Html.Raw(patientLocalization.Get(PatientLocalization.NotSpecified)).ToString() : Html.Raw(patient.SecondName).ToString())</div>
                    <div class="col-sm-3">@(string.IsNullOrWhiteSpace(patient.LastName) ? Html.Raw(patientLocalization.Get(PatientLocalization.NotSpecified)).ToString() : Html.Raw(patient.LastName).ToString())</div>
                    <div class="col-sm-2">@Html.Raw(patient.BirthDate.ToShortDateString())</div>
                    <div class="col-sm-2">
                        <a asp-controller="@MedicBaseController.GetName(nameof(PatientController))"
                           asp-action="@nameof(PatientController.Patient)"
                           asp-route-id="@(patient.Id)" class="btn btn-info">@Html.Raw(patientLocalization.Get(PatientLocalization.View))</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="text-info font-weight-bold text-center">@Html.Raw(patientLocalization.Get(PatientLocalization.NoPatients))</div>
        }
    </section>
    @if (hasResults)
    {
        <footer>
            <pager page-count="@Model.TotalPages"
                   current-page="@Model.CurrentPage"
                   controller-name="@MedicBaseController.GetName(nameof(PatientController))"
                   action-name="@nameof(PatientController.Index)"
                   additional-properties="@paramsByName"
                   nav-class-names="btn-toolbar"
                   ul-class-names="pagination"
                   li-class-names="page-item"
                   li-selected-class-names="page-item active"
                   anchor-class-names="page-link">
            </pager>
        </footer>
    }
</article>
@section Scripts {
    <environment names="Development">
        <script defer src="~/js/formreset.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/formreset.min.js" asp-append-version="true"></script>
    </environment>
}