@model PateintPagePatientModel
@inject PatientLocalization patientLocalization
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData["Title"] = Model.Title;
}

@if (Model.Patient != default)
{
    <article>
        <header>
            @{
                string name = $"{Model.Patient.FirstName} {Model.Patient.SecondName} {Model.Patient.LastName}".Replace("  ", " ");
            }
            <h2 class="text-center">@(string.IsNullOrWhiteSpace(name) ? Html.Raw(patientLocalization.Get("NotSpecified")).ToString() : name)</h2>
            <h4 class="text-center text-info">@Model.Keywords</h4>
            <div>
                <div class="row">
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get("BirthDate"))</div>
                    <div class="col-sm-10">@Model.Patient.BirthDate.ToShortDateString()</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get("IdentityNumber"))</div>
                    <div class="col-sm-10">@Model.Patient.IdentityNumber</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get("Address"))</div>
                    <div class="col-sm-10">@Model.Patient.Address</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get("Sex"))</div>
                    <div class="col-sm-10">@Model.Patient.Sex</div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get("Notes"))</div>
                    <div class="col-sm-10"><p>@(Model.Patient.Notes ?? Html.Raw(patientLocalization.Get("NoResults")).ToString())</p></div>
                </div>
            </div>
        </header>
        <section class="mt-4">
            <section class="mt-2">
                <header class="text-center">
                    <h4>@Html.Raw(medicDataLocalization.Get("Ins"))</h4>
                </header>
                @if (Model.Patient.Ins != default && Model.Patient.Ins.Count > 0)
                {
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("EntryDate"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBCode"))</div>
                        <div class="col-sm-6 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBName"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get("View"))</div>
                    </div>

                    foreach (var currentIn in Model.Patient.Ins.OrderBy(i => i.EntryDate))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">@currentIn.EntryDate.ToString("g")</div>
                            <div class="col-sm-2">@(currentIn.SendDiagnoses.Count > 0 ? currentIn.SendDiagnoses[0].Code : default)</div>
                            <div class="col-sm-6">@(currentIn.SendDiagnoses.Count > 0 ? currentIn.SendDiagnoses[0].Name : default)</div>
                            <div class="col-sm-2">
                                <a asp-controller="@MedicBaseController.GetName(nameof(InController))"
                                   asp-action="@nameof(InController.In)"
                                   asp-route-id="@currentIn.Id"
                                   class="btn btn-info">@Html.Raw(patientLocalization.Get("View"))</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-info text-center">@Html.Raw(patientLocalization.Get("NoResults"))</p>
                }
            </section>
            <section class="mt-2">
                <header class="text-center">
                    <h4>@Html.Raw(medicDataLocalization.Get("InClinicProcedures"))</h4>
                </header>
                @if (Model.Patient.InClinicProcedures != default && Model.Patient.InClinicProcedures.Count > 0)
                {
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("PlanVisitDate"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBCode"))</div>
                        <div class="col-sm-6 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBName"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get("View"))</div>
                    </div>

                    foreach (var currentProcedure in Model.Patient.InClinicProcedures.OrderBy(icp => icp.PlanVisitDate))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">@(currentProcedure.PlanVisitDate != default ? ((DateTime)currentProcedure.PlanVisitDate).ToString("g") : default)</div>
                            <div class="col-sm-2">@currentProcedure.MKBCode</div>
                            <div class="col-sm-6">@currentProcedure.MKBName</div>
                            <div class="col-sm-2">
                                <a asp-controller="@MedicBaseController.GetName(nameof(InClinicProcedureController))"
                                   asp-action="@nameof(InClinicProcedureController.InClinicProcedure)"
                                   asp-route-id="@currentProcedure.Id"
                                   class="btn btn-info">@Html.Raw(patientLocalization.Get("View"))</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-info text-center">@Html.Raw(patientLocalization.Get("NoResults"))</p>
                }
            </section>
            <section class="mt-2">
                <header class="text-center">
                    <h4>@Html.Raw(medicDataLocalization.Get("Outs"))</h4>
                </header>
                @if (Model.Patient.Outs != default && Model.Patient.Outs.Count > 0)
                {
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("OutDate"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBCode"))</div>
                        <div class="col-sm-6 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBName"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(patientLocalization.Get("View"))</div>
                    </div>

                    foreach (var currentOut in Model.Patient.Outs.OrderBy(o => o.OutDate))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">@currentOut.OutDate.ToString("g")</div>
                            <div class="col-sm-2">@currentOut.MKBCode</div>
                            <div class="col-sm-6">@currentOut.MKBName</div>
                            <div class="col-sm-2">
                                <a asp-controller="@MedicBaseController.GetName(nameof(OutController))"
                                   asp-action="@nameof(OutController.Out)"
                                   asp-route-id="@currentOut.Id"
                                   class="btn btn-info">@Html.Raw(patientLocalization.Get("View"))</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-info text-center">@Html.Raw(patientLocalization.Get("NoResults"))</p>
                }
            </section>
            <section class="mt-2">
                <header class="text-center">
                    <h4>@Html.Raw(medicDataLocalization.Get("PathProcedures"))</h4>
                </header>
                @if (Model.Patient.PathProcedures != default && Model.Patient.PathProcedures.Count > 0)
                {
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("DateSend"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBCode"))</div>
                        <div class="col-sm-6 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBName"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("View"))</div>
                    </div>

                    foreach (var currentPathProcedure in Model.Patient.PathProcedures.OrderBy(pp => pp.DateSend))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">@currentPathProcedure.DateSend.ToString("g")</div>
                            <div class="col-sm-2">@currentPathProcedure.MKBCode</div>
                            <div class="col-sm-6">@currentPathProcedure.MKBName</div>
                            <div class="col-sm-2">
                                <a asp-controller="@MedicBaseController.GetName(nameof(PathProcedureController))"
                                   asp-action="@nameof(PathProcedureController.PathProcedure)"
                                   asp-route-id="@currentPathProcedure.Id"
                                   class="btn btn-info">@Html.Raw(patientLocalization.Get("View"))</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-info text-center">@Html.Raw(patientLocalization.Get("NoResults"))</p>
                }
            </section>
            <section class="mt-2">
                <header class="text-center">
                    <h4>@Html.Raw(medicDataLocalization.Get("ProtocolDrugTherapies"))</h4>
                </header>
                @if (Model.Patient.ProtocolDrugTherapies != default && Model.Patient.ProtocolDrugTherapies.Count > 0)
                {
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("ProtocolDate"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBCode"))</div>
                        <div class="col-sm-6 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBName"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("View"))</div>
                    </div>

                    foreach (var currentProtocolDrugTherapy in Model.Patient.ProtocolDrugTherapies.OrderBy(pdt => pdt.ProtocolDate))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">@currentProtocolDrugTherapy.ProtocolDate.ToString("g")</div>
                            <div class="col-sm-2">@currentProtocolDrugTherapy.MKBCode</div>
                            <div class="col-sm-6">@currentProtocolDrugTherapy.MKBName</div>
                            <div class="col-sm-2">
                                <a asp-controller="@MedicBaseController.GetName(nameof(ProtocolDrugTherapyController))"
                                   asp-action="@nameof(ProtocolDrugTherapyController.ProtocolDrugTherapy)"
                                   asp-route-id="@currentProtocolDrugTherapy.Id"
                                   class="btn btn-info">@Html.Raw(patientLocalization.Get("View"))</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-info text-center">@Html.Raw(patientLocalization.Get("NoResults"))</p>
                }
            </section>
            <section class="mt-2">
                <header class="text-center">
                    <h4>@Html.Raw(medicDataLocalization.Get("CommissionAprs"))</h4>
                </header>
                @if (Model.Patient.CommissionAprs != default && Model.Patient.CommissionAprs.Count > 0)
                {
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("DecisionDate"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBCode"))</div>
                        <div class="col-sm-6 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBName"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("View"))</div>
                    </div>

                    foreach (var currentCommissionApr in Model.Patient.CommissionAprs.OrderBy(ca => ca.DecisionDate))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">@currentCommissionApr.DecisionDate.ToString("g")</div>
                            <div class="col-sm-2">@currentCommissionApr.MKBCode</div>
                            <div class="col-sm-6">@currentCommissionApr.MKBName</div>
                            <div class="col-sm-2">
                                <a asp-controller="@MedicBaseController.GetName(nameof(CommissionAprController))"
                                   asp-action="@nameof(CommissionAprController.CommissionApr)"
                                   asp-route-id="@currentCommissionApr.Id"
                                   class="btn btn-info">@Html.Raw(patientLocalization.Get("View"))</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-info text-center">@Html.Raw(patientLocalization.Get("NoResults"))</p>
                }
            </section>
            <section class="mt-2">
                <header class="text-center">
                    <h4>@Html.Raw(medicDataLocalization.Get("DispObservations"))</h4>
                </header>
                @if (Model.Patient.DispObservations != default && Model.Patient.DispObservations.Count > 0)
                {
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("DispDate"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBCode"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBName"))</div>
                        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("View"))</div>
                    </div>

                    foreach (var currentDispObservation in Model.Patient.DispObservations.OrderBy(obs => obs.DispDate))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">@currentDispObservation.DispDate.ToString("g")</div>
                            <div class="col-sm-2">@currentDispObservation.MKBCode</div>
                            <div class="col-sm-6">@currentDispObservation.MKBName</div>
                            <div class="col-sm-2">
                                <a asp-controller="@MedicBaseController.GetName(nameof(DispObservationController))"
                                   asp-action="@nameof(DispObservationController.DispObservation)"
                                   asp-route-id="@currentDispObservation.Id"
                                   class="btn btn-info">@Html.Raw(patientLocalization.Get("View"))</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-info text-center">@Html.Raw(patientLocalization.Get("NoResults"))</p>
                }
            </section>
            <section class="mt-2">
                <header class="text-center text-center">
                    <h4>@Html.Raw(medicDataLocalization.Get("Plannings"))</h4>
                </header>
                @if (Model.Patient.Plannings != default && Model.Patient.Plannings.Count > 0)
                {
            <div class="row">
                <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("ExaminationDate"))</div>
                <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBCode"))</div>
                <div class="col-sm-6 font-weight-bold">@Html.Raw(medicDataLocalization.Get("MKBName"))</div>
                <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("View"))</div>
            </div>

                    foreach (var currentPlanned in Model.Patient.Plannings.OrderBy(pp => pp.ExaminationDate))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">@currentPlanned.ExaminationDate.ToString("g")</div>
                            <div class="col-sm-2">@(currentPlanned.Diagnoses.Count > 0 ? currentPlanned.Diagnoses[0].Code : default)</div>
                            <div class="col-sm-6">@(currentPlanned.Diagnoses.Count > 0 ? currentPlanned.Diagnoses[0].Name : default)</div>
                            <div class="col-sm-2">
                                <a asp-controller="@MedicBaseController.GetName(nameof(PlannedController))"
                                   asp-action="@nameof(PlannedController.Planned)"
                                   asp-route-id="@currentPlanned.Id"
                                   class="btn btn-info">@Html.Raw(patientLocalization.Get("View"))</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-info text-center">@Html.Raw(patientLocalization.Get("NoResults"))</p>
                }
            </section>
        </section>
        <footer>
        </footer>
    </article>
}
else
{
    <article>
        <p class="text-center text-info">@Html.Raw(patientLocalization.Get("NoResults"))</p>
    </article>
}