@model OutPageOutModel
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData["Title"] = Model.Title;
}

@if (Model.OutViewModel != default)
{
    <article>
        <header>
            <h2 class="text-center">@($"{Html.Raw(medicDataLocalization.Get("OutView"))} - {@Model.OutViewModel.UniqueIdentifier}")</h2>
            <h4 class="text-center text-info">@Model.Keywords</h4>
        </header>
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("Patient"))</h2>
        <partial name="~/Views/Shared/Partials/Patients/PatientSummaryViewModel.cshtml" model="@Model.OutViewModel.Patient" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("Sender"))</h2>
        <partial name="~/Views/Shared/Partials/HealthcarePractitioners/HealthcarePractitionerSummaryViewModel.cshtml" model="@Model.OutViewModel.Sender" />
        <hr />
        <div>@Html.Raw(medicDataLocalization.Get("DateSend")): @Model.OutViewModel.SendDate.ToShortDateString()</div>
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("OutMainDiagnose"))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModel.cshtml" model="@Model.OutViewModel.OutMainDiagnose" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("SendDiagnoses"))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModels.cshtml" model="@Model.OutViewModel.SendDiagnoses" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("Diagnoses"))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModels.cshtml" model="@Model.OutViewModel.Diagnoses" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("OutDiagnoses"))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModels.cshtml" model="@Model.OutViewModel.OutDiagnoses" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("Dead"))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModel.cshtml" model="@Model.OutViewModel.Dead" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("HistologicalResult"))</h2>
        <partial name="~/Views/Shared/Partials/HistologicalResults/HistologicalResultSummaryViewModel.cshtml" model="@Model.OutViewModel.HistologicalResult" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("Epicrisis"))</h2>
        <partial name="~/Views/Shared/Partials/Epicrisises/EpicrisisSummaryViewModel.cshtml" model="@Model.OutViewModel.Epicrisis" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("UsedDrug"))</h2>
        <partial name="~/Views/Shared/Partials/UsedDrugs/UsedDrugsSummaryViewModel.cshtml" model="@Model.OutViewModel.UsedDrugs" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("Procedures"))</h2>
        <partial name="~/Views/Shared/Partials/Procedures/ProcedureSummaryViewModels.cshtml" model="@Model.OutViewModel.Procedures" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get("AdditionalInformation"))</h2>
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("PatientBranch")): @Model.OutViewModel.PatientBranch</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("PatientHRegion")): @Model.OutViewModel.PatientHRegion</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("InType")): @Model.OutViewModel.InType</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("SendUrgency")): @Model.OutViewModel.SendUrgency</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("SendClinicalPath")): @Model.OutViewModel.SendClinicalPath</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("UniqueIdentifier")): @Model.OutViewModel.UniqueIdentifier</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("ExaminationDate")): @Model.OutViewModel.ExaminationDate.ToShortDateString()</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Urgency")): @Model.OutViewModel.Urgency</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("ClinicalPath")): @Model.OutViewModel.ClinicalPath</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("NZOKPay")): @Model.OutViewModel.NZOKPay</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("InMedicalWard")): @Model.OutViewModel.InMedicalWard</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("EntryDate")): @Model.OutViewModel.EntryDate.ToShortDateString()</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Severity")): @Model.OutViewModel.Severity</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Delay")): @Model.OutViewModel.Delay</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Payer")): @Model.OutViewModel.Payer</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("AgeInDays")): @Model.OutViewModel.AgeInDays</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("WeightInGrams")): @Model.OutViewModel.WeightInGrams</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("BirthWeight")): @Model.OutViewModel.BirthWeight</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("MotherIZYear")): @Model.OutViewModel.MotherIZYear</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("MotherIZNo")): @Model.OutViewModel.MotherIZNo</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("IZYear")): @Model.OutViewModel.IZYear</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("IZNo")): @Model.OutViewModel.IZNo</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("OutMedicalWard")): @Model.OutViewModel.OutMedicalWard</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("OutUniqueIdentifier")): @Model.OutViewModel.OutUniqueIdentifier</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("OutDate")): @Model.OutViewModel.OutDate.ToShortDateString()</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("OutType")): @Model.OutViewModel.OutType</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("BirthPractice")): @Model.OutViewModel.BirthPractice</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("BirthNumber")): @Model.OutViewModel.BirthNumber</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("BirthGestWeek")): @Model.OutViewModel.BirthGestWeek</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("OutClinicalPath")): @Model.OutViewModel.OutClinicalPath</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("OutAPr")): @Model.OutViewModel.OutAPr</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("BedDays")): @Model.OutViewModel.BedDays</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("HLDateFrom")): @(Model.OutViewModel.HLDateFrom != default ? ((DateTime)Model.OutViewModel.HLDateFrom).ToShortDateString() : default)</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("HLNumber")): @Model.OutViewModel.HLNumber</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("HLTotalDays")): @Model.OutViewModel.HLTotalDays</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("StateAtDischarge")): @Model.OutViewModel.StateAtDischarge</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Laparoscopic")): @Model.OutViewModel.Laparoscopic</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("EndCourse")): @Model.OutViewModel.EndCourse</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("CPFile")): @Model.OutViewModel.CPFile</div>
        </div>
    </article>
}
else
{
<div class="text-center text-info">@Html.Raw(medicDataLocalization.Get("NoResults"))</div>
}