@model OutPageOutModel
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData["Title"] = Model.Title;
}

@if (Model.OutViewModel != default)
{
    <article>
        <header>
            <h2 class="text-center">@($"{Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutView))} - {@Model.OutViewModel.UniqueIdentifier}")</h2>
            <h4 class="text-center text-info">@Model.Keywords</h4>
            <span>
                <a asp-controller="@OutController.GetName(nameof(OutController))"
                   asp-action="@nameof(OutController.Xml)"
                   asp-route-id="@Model.OutViewModel.Id">Xml</a>
                <a asp-controller="@OutController.GetName(nameof(OutController))"
                   asp-action="@nameof(OutController.Json)"
                   asp-route-id="@Model.OutViewModel.Id">Json</a>
            </span>
        </header>
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Patient))</h2>
        <partial name="~/Views/Shared/Partials/Patients/PatientSummaryViewModel.cshtml" model="@Model.OutViewModel.Patient" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Sender))</h2>
        <partial name="~/Views/Shared/Partials/HealthcarePractitioners/HealthcarePractitionerSummaryViewModel.cshtml" model="@Model.OutViewModel.Sender" />
        <hr />
        <div>@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DateSend)): @Model.OutViewModel.SendDate.ToShortDateString()</div>
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutMainDiagnose))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModel.cshtml" model="@Model.OutViewModel.OutMainDiagnose" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.SendDiagnoses))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModels.cshtml" model="@Model.OutViewModel.SendDiagnoses" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Diagnoses))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModels.cshtml" model="@Model.OutViewModel.Diagnoses" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutDiagnoses))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModels.cshtml" model="@Model.OutViewModel.OutDiagnoses" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Dead))</h2>
        <partial name="~/Views/Shared/Partials/Diagnoses/DiagnosePreviewViewModel.cshtml" model="@Model.OutViewModel.Dead" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.HistologicalResult))</h2>
        <partial name="~/Views/Shared/Partials/HistologicalResults/HistologicalResultSummaryViewModel.cshtml" model="@Model.OutViewModel.HistologicalResult" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Epicrisis))</h2>
        <partial name="~/Views/Shared/Partials/Epicrisises/EpicrisisSummaryViewModel.cshtml" model="@Model.OutViewModel.Epicrisis" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.UsedDrug))</h2>
        <partial name="~/Views/Shared/Partials/UsedDrugs/UsedDrugsSummaryViewModel.cshtml" model="@Model.OutViewModel.UsedDrugs" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Procedures))</h2>
        <partial name="~/Views/Shared/Partials/Procedures/ProcedureSummaryViewModels.cshtml" model="@Model.OutViewModel.Procedures" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.AdditionalInformation))</h2>
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.PatientBranch)): @Model.OutViewModel.PatientBranch</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.PatientHRegion)): @Model.OutViewModel.PatientHRegion</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.InType)): @Model.OutViewModel.InType</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.SendUrgency)): @Model.OutViewModel.SendUrgency</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.SendClinicalPath)): @Model.OutViewModel.SendClinicalPath</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.UniqueIdentifier)): @Model.OutViewModel.UniqueIdentifier</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExaminationDate)): @Model.OutViewModel.ExaminationDate.ToShortDateString()</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Urgency)): @Model.OutViewModel.Urgency</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ClinicalPath)): @Model.OutViewModel.ClinicalPath</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NZOKPay)): @Model.OutViewModel.NZOKPay</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.InMedicalWard)): @Model.OutViewModel.InMedicalWard</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.EntryDate)): @Model.OutViewModel.EntryDate.ToShortDateString()</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Severity)): @Model.OutViewModel.Severity</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Delay)): @Model.OutViewModel.Delay</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Payer)): @Model.OutViewModel.Payer</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.AgeInDays)): @Model.OutViewModel.AgeInDays</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.WeightInGrams)): @Model.OutViewModel.WeightInGrams</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.BirthWeight)): @Model.OutViewModel.BirthWeight</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.MotherIZYear)): @Model.OutViewModel.MotherIZYear</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.MotherIZNo)): @Model.OutViewModel.MotherIZNo</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.IZYear)): @Model.OutViewModel.IZYear</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.IZNo)): @Model.OutViewModel.IZNo</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutMedicalWard)): @Model.OutViewModel.OutMedicalWard</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutUniqueIdentifier)): @Model.OutViewModel.OutUniqueIdentifier</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutDate)): @Model.OutViewModel.OutDate.ToShortDateString()</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutType)): @Model.OutViewModel.OutType</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.BirthPractice)): @Model.OutViewModel.BirthPractice</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.BirthNumber)): @Model.OutViewModel.BirthNumber</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.BirthGestWeek)): @Model.OutViewModel.BirthGestWeek</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutClinicalPath)): @Model.OutViewModel.OutClinicalPath</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutAPr)): @Model.OutViewModel.OutAPr</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.BedDays)): @Model.OutViewModel.BedDays</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.HLDateFrom)): @(Model.OutViewModel.HLDateFrom != default ? ((DateTime)Model.OutViewModel.HLDateFrom).ToShortDateString() : default)</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.HLNumber)): @Model.OutViewModel.HLNumber</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.HLTotalDays)): @Model.OutViewModel.HLTotalDays</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.StateAtDischarge)): @Model.OutViewModel.StateAtDischarge</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Laparoscopic)): @Model.OutViewModel.Laparoscopic</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.EndCourse)): @Model.OutViewModel.EndCourse</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.CPFile)): @Model.OutViewModel.CPFile</div>
        </div>
    </article>
}
else
{
<div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}