@model List<DrugProtocolPreviewViewModel>
@inject MedicDataLocalization medicDataLocalization

@{ 
    ViewData[Constants.LookupEnumKey] = nameof(DrugProtocolPreviewViewModel);
}

@if (Model != default && Model.Count > 0)
{
    @foreach (var currentDrugProtocol in Model)
    {
        <hr />
        <div>
            <partial name="~/Views/Shared/Partials/TherapyTypes/TherapyTypePreviewViewModel.cshtml" model="@currentDrugProtocol.TherapyType" view-data="@ViewData" />
            <div class="row">
                <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ATCCode)): @Html.Raw(currentDrugProtocol.ATCCode)</div>
                <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ATCName)): @Html.Raw(currentDrugProtocol.ATCName)</div>
                <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Days)): @Html.Raw(currentDrugProtocol.Days)</div>
                <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ApplicationWay)): @Html.Raw(currentDrugProtocol.ApplicationWay)</div>
            </div>
            <div class="row">
                <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.StandartDose)): @Html.Raw(currentDrugProtocol.StandartDose)</div>
                <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.IndividualDose)): @Html.Raw(currentDrugProtocol.IndividualDose)</div>
                <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.CycleDose)): @Html.Raw(currentDrugProtocol.CycleDose)</div>
                <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.AllDose)): @Html.Raw(currentDrugProtocol.AllDose)</div>
            </div>
        </div>
    }
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}