@using Medic.App.Models.Users.Models

@model ChangePassword

@inject MedicDataLocalization medicDataLocalization

<form asp-action="@nameof(AccountController.Password)" asp-controller="@MedicBaseController.GetName(nameof(AccountController))"
      method="post"
      asp-antiforgery="true"
      style="margin: 0 auto;max-width: 500px">
    <div class="form-group">
        <label asp-for="@Model.CurrentPassword"></label>
        <input class="form-control" type="password" asp-for="@Model.CurrentPassword" />
        <div><span class="text-danger" asp-validation-for="@Model.CurrentPassword"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPassword"></label>
        <input class="form-control" type="password" asp-for="@Model.NewPassword" />
        <div><span class="text-danger" asp-validation-for="@Model.NewPassword"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmNewPassword"></label>
        <input class="form-control" type="password" asp-for="@Model.ConfirmNewPassword" />
        <div><span class="text-danger" asp-validation-for="@Model.ConfirmNewPassword"></span></div>
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="submit" class="btn btn-primary" value="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Update))" />
</form>