@model List<ProcedureSummaryViewModel>
@inject MedicDataLocalization medicDataLocalization

@if (Model != default && Model.Count > 0)
{
    foreach (var currentProcedure in Model)
    {
        <hr />
        <div>
            <div class="row">
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Date)): @currentProcedure.Date.ToShortDateString()</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Code)): @currentProcedure.Code</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ACHICode)): @currentProcedure.ACHICode</div>
            </div>
            <div class="row">
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.OutHospital)): @currentProcedure.OutHospital</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ImplantReferenceNumber)): @currentProcedure.ImplantReferenceNumber</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ImplantManufacturer)): @currentProcedure.ImplantManufacturer</div>
            </div>
            <div class="row">
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ImplantCode)): @currentProcedure.ImplantCode</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.BedDays)): @currentProcedure.BedDays</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.HLDateFrom)): @(currentProcedure.HLDateFrom != default ? ((DateTime)currentProcedure.HLDateFrom).ToShortDateString() : default)</div>
            </div>
            <div class="row">
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.HLNumber)): @currentProcedure.HLNumber</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.HLTotalDays)): @currentProcedure.HLTotalDays</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.StateAtDischarge)): @currentProcedure.StateAtDischarge</div>
            </div>
            <div class="row">
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Laparoscopic)): @currentProcedure.Laparoscopic</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.PathologicFinding)): @currentProcedure.PathologicFinding</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.EndCourse)): @currentProcedure.EndCourse</div>
            </div>
            <div class="row">
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.SendApr)): @currentProcedure.SendAPr</div>
                <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.InApr)): @currentProcedure.InAPr</div>
            </div>
        </div>
    }
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}