@model APr05PreviewViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <div>
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("DiagnoseDate")): @Model.DiagnoseDate.ToString("g")</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Staging")): @Model.Staging</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Imuno")): @Model.Imuno</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Genetic")): @Model.Genetic</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Sign")): @Model.Sign</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("NZOKPay")): @Model.NZOKPay</div>
        </div>
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get("NoResults"))</div>
}