@using Medic.AppModels.Outs
@using Medic.AppModels.Enums

@model OutSearch

@inject MedicDataLocalization medicDataLocalization

@{
    Type outOrderEnum = typeof(OutOrderEnum);
    Type orderDirectionEnum = typeof(OrderDirectionEnum);
    Type pageLengthEnum = typeof(PageLengthEnum);
}

    <form asp-controller="@MedicBaseController.GetName(nameof(OutController))"
          asp-action="@nameof(OutController.Index)"
          method="get"
          class="form-inline float-sm-right">
        <div class="form-group mr-sm-3">
            <label class="mr-sm-3" asp-for="@Model.Order"></label>
            <select class="form-control" asp-for="@Model.Order"
                    asp-items="Enum.GetValues(outOrderEnum).Cast<int>().Select(v => new SelectListItem() { Value = v.ToString(), Text = medicDataLocalization.Get(Enum.GetName(outOrderEnum, v)), Selected = (OutOrderEnum)v == Model.Order})"></select>
        </div>
        <div class="form-group mr-sm-3">
            <label class="mr-sm-3" asp-for="@Model.Direction"></label>
            <select class="form-control" asp-for="@Model.Direction"
                    asp-items="Enum.GetValues(orderDirectionEnum).Cast<int>().Select(v => new SelectListItem() { Value = v.ToString(), Text = medicDataLocalization.Get(Enum.GetName(orderDirectionEnum, v)), Selected = (OrderDirectionEnum)v == Model.Direction })"></select>
        </div>
        <div class="form-group mr-sm-3">
            <label class="mr-sm-3" asp-for="@Model.Length"></label>
            <select class="form-control" asp-for="@Model.Length"
                    asp-items="@Enum.GetValues(pageLengthEnum).Cast<int>().Select(v => new SelectListItem() { Value = v.ToString(), Text = v.ToString(), Selected = (PageLengthEnum)v == Model.Length })"></select>
        </div>
        <input type="hidden" asp-for="@Model.MainOutDiagnose" />
        <input type="hidden" asp-for="@Model.CountOfAdditionalOutDiagnoses" />
        <input type="hidden" asp-for="@Model.Sex" />
        <input type="hidden" asp-for="@Model.SendDiagnose" />
        <input type="hidden" asp-for="@Model.CountOfAdditionalSendDiagnoses" />
        <input type="hidden" asp-for="@Model.HealthRegion" />
        <input type="hidden" asp-for="@Model.UsedDrug" />
        <input type="hidden" asp-for="@Model.Age" />
        <input type="hidden" asp-for="@Model.OlderThan" />
        <input type="hidden" asp-for="@Model.YoungerThan" />
        <input class="btn btn-dark" type="submit" value="@medicDataLocalization.Get("Update")" />
    </form>