@inject GeneralLocalization generalLocalization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Constants.Title]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/images/su-logo.ico" asp-append-version="true" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/bundle/bundle.css" asp-append-version="true" />
    </environment>
    @RenderSection("Css", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand"
                   asp-controller="Home"
                   asp-action="Index">
                    <img src="~/images/su-logo.png" asp-append-version="true" class="d-inline-block align-top navbar-brand-image">
                    @Html.Raw(generalLocalization.Get(GeneralLocalization.SiteTile))
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-controller="@MedicBaseController.GetName(nameof(HomeController))"
                               asp-action="@nameof(HomeController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.Home))</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                               href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">@Html.Raw(generalLocalization.Get(GeneralLocalization.Search))</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-controller="@MedicBaseController.GetName(nameof(OutController))" asp-action="@nameof(OutController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.Outs))</a>
                                <a class="nav-link text-dark" asp-controller="@MedicBaseController.GetName(nameof(InController))" asp-action="@nameof(InController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.Ins))</a>
                                <a class="nav-link text-dark" asp-controller="@MedicBaseController.GetName(nameof(ProtocolDrugTherapyController))" asp-action="@nameof(ProtocolDrugTherapyController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.ProtocolDrugTherapies))</a>
                                <a class="nav-link text-dark" asp-controller="@MedicBaseController.GetName(nameof(InClinicProcedureController))" asp-action="@nameof(InClinicProcedureController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.InClinicProcedures))</a>
                                <a class="nav-link text-dark" asp-controller="@MedicBaseController.GetName(nameof(PathProcedureController))" asp-action="@nameof(PathProcedureController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.PathProcedures))</a>
                                <a class="nav-link text-dark" asp-controller="@MedicBaseController.GetName(nameof(CommissionAprController))" asp-action="@nameof(CommissionAprController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.CommissionAprs))</a>
                                <a class="nav-link text-dark" asp-controller="@MedicBaseController.GetName(nameof(DispObservationController))" asp-action="@nameof(DispObservationController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.DispObservations))</a>
                                <a class="nav-link text-dark" asp-controller="@MedicBaseController.GetName(nameof(PlannedController))" asp-action="@nameof(PlannedController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.Plannings))</a>
                                <a class="nav-link text-dark" asp-controller="@MedicBaseController.GetName(nameof(PatientController))" asp-action="@nameof(PatientController.Index)">@Html.Raw(generalLocalization.Get(GeneralLocalization.Patients))</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                               href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">@Html.Raw(generalLocalization.Get(GeneralLocalization.Inquires))</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(HomeController))" asp-action="@nameof(HomeController.Diags)">@Html.Raw(generalLocalization.Get(GeneralLocalization.DiagsSummary))</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(HomeController))" asp-action="@nameof(HomeController.Diagnoses)">@Html.Raw(generalLocalization.Get(GeneralLocalization.DiagnosesSummary))</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(HomeController))" asp-action="@nameof(HomeController.UsedDrugs)">@Html.Raw(generalLocalization.Get(GeneralLocalization.UsedDrugs))</a>
                            </div>
                        </li>
                        <vc:administrator></vc:administrator>
                    </ul>
                </div>
                <vc:user-management></vc:user-management>
                <vc:language-bar></vc:language-bar>
            </div>
        </nav>
    </header>
    <div class="m-lg-5">
        <div class="text-left">
            <img src="~/images/su-logo.png" asp-append-version="true">
            <img src="~/images/fmi-logo-bg.png" asp-append-version="true" />
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - @(Html.Raw(generalLocalization.Get(GeneralLocalization.SiteTile))) - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Html.Raw(generalLocalization.Get(GeneralLocalization.Privacy))</a>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="false"></script>
    </environment>
    <environment names="Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/bundle/bundle.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
