@inject GeneralLocalization generalLocalization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/bundle/bundle.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@generalLocalization.Get("SiteTile")</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(HomeController))" asp-action="@nameof(HomeController.Index)">@generalLocalization.Get("Home")</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                               href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">@generalLocalization.Get("Search")</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(OutController))" asp-action="@nameof(OutController.Index)">@generalLocalization.Get("Outs")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(InController))" asp-action="@nameof(InController.Index)">@generalLocalization.Get("Ins")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(ProtocolDrugTherapyController))" asp-action="@nameof(ProtocolDrugTherapyController.Index)">@generalLocalization.Get("ProtocolDrugTherapies")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(InClinicProcedureController))" asp-action="@nameof(InClinicProcedureController.Index)">@generalLocalization.Get("InClinicProcedures")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(PathProcedureController))" asp-action="@nameof(PathProcedureController.Index)">@generalLocalization.Get("PathProcedures")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(CommissionAprController))" asp-action="@nameof(CommissionAprController.Index)">@generalLocalization.Get("CommissionAprs")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(DispObservationController))" asp-action="@nameof(DispObservationController.Index)">@generalLocalization.Get("DispObservations")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(PlannedProcedureController))" asp-action="@nameof(PlannedProcedureController.Index)">@generalLocalization.Get("PlannedProcedure")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(PatientController))" asp-action="@nameof(PatientController.Index)">@generalLocalization.Get("Patients")</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                               href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">@generalLocalization.Get("Inquires")</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(HomeController))" asp-action="@nameof(HomeController.Diags)">@generalLocalization.Get("DiagsSummary")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(HomeController))" asp-action="@nameof(HomeController.Diagnoses)">@generalLocalization.Get("DiagnosesSummary")</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="@MedicBaseController.GetName(nameof(HomeController))" asp-action="@nameof(HomeController.UsedDrugs)">@generalLocalization.Get("UsedDrugs")</a>
                            </div>
                        </li> 
                    </ul>
                </div>
                <vc:user-management></vc:user-management>
                <vc:language-bar></vc:language-bar>
            </div>
        </nav>
    </header>
    <div class="m-sm-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - @(generalLocalization.Get("SiteTile")) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="false"></script>
    </environment>
    <environment names="Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/bundle/bundle.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
