@model List<MDISummaryViewModel>
@inject MedicDataLocalization medicDataLocalization

@if (Model != default && Model.Count > 0)
{
    <div class="row">
        <div class="col-sm-4 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.MDICode))</div>
        <div class="col-sm-8 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.MDIName))</div>
    </div>

    @foreach (var currentMdi in Model)
    {
        <hr/>
        <div class="row">
            <div class="col-sm-4">@Html.Raw(currentMdi.MDICode)</div>
            <div class="col-sm-8">@Html.Raw(currentMdi.MDIName)</div>
        </div>
    }
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}