@model InClinicProcedurePageIndexModel

@inject MedicDataLocalization medicDataLocalization

@{
    ViewData[Constants.Title] = Model.Title;

    Dictionary<string, string> paramsByName = Model.Search != default ? Model.Search.BuildQuery(default) : new Dictionary<string, string>();
    Dictionary<string, string> excelByName = new Dictionary<string, string>(paramsByName);

    ViewData[Constants.Sexes] = Model.Sexes;
    ViewData[Constants.HealthRegions] = Model.HealthRegions;
}

<article>
    <header>
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.InClinicProceduresView)): @Html.Raw(Model.TotalResults) @Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Results))</h2>
        <h4 class="text-center text-info">@Html.Raw(Model.Keywords)</h4>
        <section class="text-right">
            <a asp-controller="@InClinicProcedureController.GetName(nameof(InClinicProcedureController))"
               asp-action="@nameof(InClinicProcedureController.Excel)"
               asp-all-route-data="@excelByName"
               asp-route-page="@Model.CurrentPage"
               download
               title="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsExcel))"
               class="export-anchor">
                <img asp-append-version="true" src="~/images/excel.jpg" alt="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsExcel))" class="export-image" />
            </a>
        </section>
    </header>
    <section>
        <partial name="~/Views/Shared/Partials/InClinicProcedures/InClinicProcedureSearch.cshtml" model="@Model.Search" view-data="@ViewData" />
    </section>
    <section class="mt-sm-1 clearfix">
        <partial name="~/Views/Shared/Partials/InClinicProcedures/InClinicProcedureOrder.cshtml" model="@Model.Search" />
    </section>
    <section class="mt-sm-1">
        @if (Model.InClinicProcedures != default && Model.InClinicProcedures.Count > 0)
        {
            <div>
                <div class="row">
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DateSend))</div>
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.FirstMainDiagCode))</div>
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.FirstMainDiagName))</div>
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.SecondMainDiagCode))</div>
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.SecondMainDiagName))</div>
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ViewPatient))</div>
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ViewInClinicProcedure))</div>
                </div>
                @foreach (InClinicProcedurePreviewViewModel currentInClinicProcedure in Model.InClinicProcedures)
                {
                    <hr />
                    <div class="row">
                        <div class="col-sm-2">@Html.Raw(currentInClinicProcedure.DateSend.ToShortDateString())</div>
                        <div class="col-sm-2">@Html.Raw(currentInClinicProcedure.FirstMainDiagCode)</div>
                        <div class="col-sm-2">@Html.Raw(currentInClinicProcedure.FirstMainDiagName)</div>
                        <div class="col-sm-2">@Html.Raw(currentInClinicProcedure.SecondMainDiagCode)</div>
                        <div class="col-sm-2">@Html.Raw(currentInClinicProcedure.SecondMainDiagName)</div>
                        <div class="col-sm-1">
                            <a asp-controller="@MedicBaseController.GetName(nameof(PatientController))"
                               asp-action="@nameof(PatientController.Patient)"
                               asp-route-id="@currentInClinicProcedure.PatientId" class="btn btn-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.View))</a>
                        </div>
                        <div class="col-sm-1">
                            <a asp-controller="@MedicBaseController.GetName(nameof(InClinicProcedureController))"
                               asp-action="@nameof(InClinicProcedureController.InClinicProcedure)"
                               asp-route-id="@currentInClinicProcedure.Id"
                               class="btn btn-secondary">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.View))</a>
                        </div>
                    </div>
                }
            </div>
            <footer>
                <pager page-count="@Model.TotalPages"
                       current-page="@Model.CurrentPage"
                       controller-name="@MedicBaseController.GetName(nameof(InClinicProcedureController))"
                       action-name="@nameof(InClinicProcedureController.Index)"
                       additional-properties="@paramsByName"
                       nav-class-names="btn-toolbar"
                       ul-class-names="pagination"
                       li-class-names="page-item"
                       li-selected-class-names="page-item active"
                       anchor-class-names="page-link">

                </pager>
            </footer>
        }
        else
        {
            <div class="text-center text-info font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
        }
    </section>
</article>
@section Scripts {
    <environment names="Development">
        <script defer src="~/js/formreset.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/formreset.min.js"></script>
    </environment>
}