@using Medic.AppModels.Ins
@inject MedicDataLocalization medicDataLocalization

@model InPageIndexModel

@{
    ViewData["Title"] = Model.Title;

    int pageLength = (int)Model.Search.Length;

    int pagesCount = Model.TotalCount % pageLength != 0 ? (Model.TotalCount / pageLength) + 1 : Model.TotalCount / pageLength;

    Dictionary<string, string> paramsByName = Model.Search != default ?
        Model.Search.BuildQuery(default) : new Dictionary<string, string>();

    ViewData[Constants.Sexes] = Model.Sexes;
    ViewData[Constants.HealthRegions] = Model.HealthRegions;
}

<article>
    <header>
        <h2>@medicDataLocalization.Get("InsView"): @Model.TotalCount</h2>
    </header>
    <section>
        <partial name="~/Views/Shared/Partials/Ins/InsSerach.cshtml" model="@Model.Search" view-data="@ViewData" />
    </section>
    <section class="mt-sm-1 clearfix">
        <partial name="~/Views/Shared/Partials/Ins/InsOrder.cshtml" model="@Model.Search" />
    </section>
    <section class="mt-sm-1">
        @if (Model.Ins != default && Model.Ins.Count > 0)
        {
            <div>
                <div class="row">
                    <div class="col-sm-2 font-weight-bold">@medicDataLocalization.Get("EntryDate")</div>
                    <div class="col-sm-2 font-weight-bold">@medicDataLocalization.Get("SendDiagnoseCode")</div>
                    <div class="col-sm-4 font-weight-bold">@medicDataLocalization.Get("SendDiagnoseName")</div>
                    <div class="col-sm-2 font-weight-bold">@medicDataLocalization.Get("AdditionalDiagnoses")</div>
                    <div class="col-sm-1 font-weight-bold">@medicDataLocalization.Get("ViewPatient")</div>
                    <div class="col-sm-1 font-weight-bold">@medicDataLocalization.Get("ViewIn")</div>
                </div>
                @foreach (InPreviewViewModel currentIn in Model.Ins)
                {
                    <hr />
                    <div class="row">
                        <div class="col-sm-2">@currentIn.EntryDate.ToShortDateString()</div>
                        <div class="col-sm-2">@currentIn.SendDiagnoseCode</div>
                        <div class="col-sm-4">@currentIn.SendDiagnoseName</div>
                        <div class="col-sm-2">@string.Join(", ", currentIn.CodeDiagnoses)</div>
                        <div class="col-sm-1">
                            <a asp-controller="@MedicBaseController.GetName(nameof(PatientController))"
                               asp-action="@nameof(PatientController.Patient)"
                               asp-route-id="@currentIn.PatientId" class="btn btn-info">@medicDataLocalization.Get("View")</a>
                        </div>
                        <div class="col-sm-1">
                            <a asp-controller="@MedicBaseController.GetName(nameof(InController))"
                               asp-action="@nameof(InController.In)"
                               asp-route-id="@currentIn.Id"
                               class="btn btn-default">@medicDataLocalization.Get("View")</a>
                        </div>
                    </div>
                }
            </div>
            <footer>
                <pager page-count="@pagesCount"
                       current-page="@Model.CurrentPage"
                       controller-name="@MedicBaseController.GetName(nameof(InController))"
                       action-name="@nameof(InController.Index)"
                       additional-properties="@paramsByName"
                       nav-class-names="btn-toolbar"
                       ul-class-names="pagination"
                       li-class-names="page-item"
                       li-selected-class-names="page-item active"
                       anchor-class-names="page-link">

                </pager>
            </footer>
        }
        else
        {
            <div class="text-center text-info font-weight-bold">@medicDataLocalization.Get("NoResults")</div>
        }
    </section>
</article>