@model List<ClinicProcedureViewModel>
@inject MedicDataLocalization medicDataLocalization

@if (Model != default && Model.Count > 0)
{
    foreach (var currentProcedure in Model)
    {
        <hr />
        <div>
            <div class="row">
                <div class="col-sm-6">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ProcedureName)): @Html.Raw(currentProcedure.ProcedureName)</div>
                <div class="col-sm-6">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ProcedureCode)): @Html.Raw(currentProcedure.ProcedureCode)</div>
            </div>
            <div class="row">
                <div class="col-sm-6">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ProcedureDate)): @Html.Raw(currentProcedure.ProcedureDate.ToShortDateString())</div>
                <div class="col-sm-6">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ACHICode)): @Html.Raw(currentProcedure.ACHIcode)</div>
            </div>
        </div>
    }
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}