@model List<DiagPreviewViewModel>
@inject GeneralLocalization generalLocalization

@if (Model != default && Model.Count > 0)
{
    <div>
        <div class="row">
            <div class="col-sm-2 font-weight-bold">@generalLocalization.Get("Code")</div>
            <div class="col-sm-10 font-weight-bold">@generalLocalization.Get("Name")</div>
        </div>
        @foreach (var currentDiag in Model)
        {
            <hr />
            <div class="row">
                <div class="col-sm-2">@currentDiag.Code</div>
                <div class="col-sm-10">@currentDiag.Name</div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center text-info">@generalLocalization.Get("NoData")</div>
}