@model HomePageDiagModel
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData[Constants.Title] = Model.Title;
}

<article>
    <header class="text-center">
        <h2>@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Summary)) : @Html.Raw(Model.TotalResults) @Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Results))</h2>
        <section class="text-right">
            <a asp-controller="@InController.GetName(nameof(HomeController))"
               asp-action="@nameof(HomeController.DiagsAsExcel)"
               download
               title="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsExcel))"
               class="export-anchor">
                <img asp-append-version="true" src="~/images/excel.jpg" alt="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsExcel))" class="export-image" />
            </a>
        </section>
    </header>
    <section>
        <header class="text-center">
            <h4>@medicDataLocalization.Get(MedicDataLocalization.DiagSummaryTitle)</h4>
        </header>
        <div>
            <div class="row">
                <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.MKBCode))</div>
                <div class="col-sm-8 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.MKBName))</div>
                <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Count))</div>
            </div>
            @if (Model.DiagMKBSummaryViewModels != default && Model.DiagMKBSummaryViewModels.Count > 0)
            {
                foreach (var diag in Model.DiagMKBSummaryViewModels)
                {
                    <hr />
                    <div class="row">
                        <div class="col-sm-2">@Html.Raw(diag.Code)</div>
                        <div class="col-sm-8">@Html.Raw(diag.Name)</div>
                        <div class="col-sm-2">@Html.Raw(diag.Count)</div>
                    </div>
                }

                <hr />
                <footer class="mt-sm-3">
                    <pager page-count="@Model.TotalPages"
                           current-page="@Model.CurrentPage"
                           controller-name="@MedicBaseController.GetName(nameof(HomeController))"
                           additional-properties="@null"
                           action-name="@nameof(HomeController.Diags)"
                           nav-class-names="btn-toolbar"
                           ul-class-names="pagination"
                           li-class-names="page-item"
                           li-selected-class-names="page-item active"
                           anchor-class-names="page-link">
                    </pager>
                </footer>
            }
            else
            {
                <div class="text-info text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
            }
        </div>
    </section>
</article>