@model HomePageDiagnoseModel
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData["Title"] = Model.Title;
}

<article>
    <header class="text-center">
        <h2>@medicDataLocalization.Get("Summary")</h2>
    </header>
    <section>
        <header class="text-center">
            <h4>@medicDataLocalization.Get("DiagnoseSummaryTitle")</h4>
        </header>
        <div>
            <div class="row">
                <div class="col-sm-2 font-weight-bold">@medicDataLocalization.Get("MKBCode")</div>
                <div class="col-sm-8 font-weight-bold">@medicDataLocalization.Get("MKBName")</div>
                <div class="col-sm-2 font-weight-bold">@medicDataLocalization.Get("Count")</div>
            </div>
            @if (Model.DiagnosesMKBSummaryViewModels != default && Model.DiagnosesMKBSummaryViewModels.Count > 0)
            {
                foreach (var diagnose in Model.DiagnosesMKBSummaryViewModels)
                {
                    <hr />
                    <div class="row">
                        <div class="col-sm-2">@diagnose.Code</div>
                        <div class="col-sm-8">@diagnose.Name</div>
                        <div class="col-sm-2">@diagnose.Count</div>
                    </div>
                }
            }
            else
            {
        <div>@medicDataLocalization.Get("NoResults")</div>
            }
        </div>
    </section>
</article>