@model HomePageDiagnoseModel
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData["Title"] = Model.Title;
}

<article>
    <header class="text-center">
        <h2>@medicDataLocalization.Get("Summary") : @Model.TotalResults @medicDataLocalization.Get("Results")</h2>
    </header>
    <section>
        <header class="text-center">
            <h4>@medicDataLocalization.Get("DiagnoseSummaryTitle")</h4>
        </header>
        <div>
            <div class="row">
                <div class="col-sm-2 font-weight-bold">@medicDataLocalization.Get("MKBCode")</div>
                <div class="col-sm-8 font-weight-bold">@medicDataLocalization.Get("MKBName")</div>
                <div class="col-sm-2 font-weight-bold">@medicDataLocalization.Get("Count")</div>
            </div>
            @if (Model.DiagnosesMKBSummaryViewModels != default && Model.DiagnosesMKBSummaryViewModels.Count > 0)
            {
                foreach (var diagnose in Model.DiagnosesMKBSummaryViewModels)
                {
                    <hr />
                    <div class="row">
                        <div class="col-sm-2">@diagnose.Code</div>
                        <div class="col-sm-8">@diagnose.Name</div>
                        <div class="col-sm-2">@diagnose.Count</div>
                    </div>
                }

                <hr />
                <footer class="mt-sm-3">
                    <pager page-count="@Model.TotalPages"
                           current-page="@Model.CurrentPage"
                           controller-name="@MedicBaseController.GetName(nameof(HomeController))"
                           additional-properties="@null"
                           action-name="@nameof(HomeController.Diagnoses)"
                           nav-class-names="btn-toolbar"
                           ul-class-names="pagination"
                           li-class-names="page-item"
                           li-selected-class-names="page-item active"
                           anchor-class-names="page-link">
                    </pager>
                </footer>
            }
            else
            {
                <div class="text-info text-center">@medicDataLocalization.Get("NoResults")</div>
            }
        </div>
    </section>
</article>