@model HomePageModel
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData["Title"] = Model.Title;
}

<article>
    <header class="text-center">
        <h1>@Html.Raw(medicDataLocalization.Get("Information"))</h1>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("TotalPatients"))}: {Model.PatientCount}")</h4>
        <h2 class="mt-sm-5 text-center">@Html.Raw(medicDataLocalization.Get("CPFilesSummary"))</h2>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("Plannings"))}: {Model.PlanningsCount()}")</h4>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("Ins"))}: {Model.InsCount()}")</h4>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("Outs"))}: {Model.OutsCount()}")</h4>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("ProtocolDrugTherapies"))}: {Model.ProtocolDrugTherapiesCPCount()}")</h4>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("PatientTransfers"))}: {Model.PatientTransfersCPCount()}")</h4>
        <h2 class="mt-sm-5 text-center">@Html.Raw(medicDataLocalization.Get("HospitalPracticesSummary"))</h2>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("InClinicProcedures"))}: {Model.InClinicProceduresCount()}")</h4>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("PathProcedures"))}: {Model.PathProceduresCount()}")</h4>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("DispObservations"))}: {Model.DispObservationsCount()}")</h4>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("CommissionAprs"))}: {Model.CommissionAprsCount()}")</h4>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("ProtocolDrugTherapies"))}: {Model.ProtocolDrugTherapiesHPCount()}")</h4>
        <h4>@($"{Html.Raw(medicDataLocalization.Get("PatientTransfers"))}: {Model.PatientTransfersHPCount()}")</h4>
    </header>
    <section>
        <header class="mt-sm-5 text-center">
            <h2>@Html.Raw(medicDataLocalization.Get("MonthSummaries"))</h2>
        </header>
        <section>
            <header class="text-center">
                <h4>@Html.Raw(medicDataLocalization.Get("CPFilesSummary"))</h4>
            </header>
            <div>
                <canvas id="cp-plannings">
                </canvas>
            </div>
            <div>
                <canvas id="cp-ins">
                </canvas>
            </div>
            <div>
                <canvas id="cp-outs">
                </canvas>
            </div>
            <div>
                <canvas id="cp-protocol-drug-therapies">
                </canvas>
            </div>
            <div>
                <canvas id="cp-patient-transfers">
                </canvas>
            </div>
        </section>
        <section>
            <header class="text-center">
                <h4>@Html.Raw(medicDataLocalization.Get("HospitalPracticesSummary"))</h4>
            </header>
            <div>
                <canvas id="hospital-practice-clinic-procedures">
                </canvas>
            </div>
            <div>
                <canvas id="hospital-practice-path-procedures">
                </canvas>
            </div>
            <div>
                <canvas id="hospital-practice-disp-observations">
                </canvas>
            </div>
            <div>
                <canvas id="hospital-practice-commission-arps">
                </canvas>
            </div>
            <div>
                <canvas id="hospital-practice-drug-therapiest">
                </canvas>
            </div>
            <div>
                <canvas id="hospital-practice-patient-transfers">
                </canvas>
            </div>
        </section>
    </section>
</article>

@section Scripts {
    <environment names="Development">
        <script defer src="~/lib/chartjs/Chart.js"></script>
        <script defer src="~/js/chart.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/lib/chartjs/Chart.min.js"></script>
    </environment>
    <script>
        (function () {
            window.addEventListener('load', showCharts);

            function showCharts(e) {
                var labelsCP = @Html.Raw(Json.Serialize(Model.CPFileSummaryViewModels.Select(cp => cp.DateFrom.ToString("MM-yyyy"))));
                var labelsHP = @Html.Raw(Json.Serialize(Model.HospitalPracticeSummaryViewModels.Select(cp => cp.DateFrom.ToString("MM-yyyy"))));

                var plannings = @Html.Raw(Json.Serialize(Model.CPFileSummaryViewModels.Select(cp => cp.PlanningsCount)));
                var ins = @Html.Raw(Json.Serialize(Model.CPFileSummaryViewModels.Select(cp => cp.InsCount)));
                var outs = @Html.Raw(Json.Serialize(Model.CPFileSummaryViewModels.Select(cp => cp.OutsCount)));
                var protocolDrugTherapies = @Html.Raw(Json.Serialize(Model.CPFileSummaryViewModels.Select(cp => cp.ProtocolDrugTherapiesCount)));
                var patientTransfers = @Html.Raw(Json.Serialize(Model.CPFileSummaryViewModels.Select(cp => cp.PatientTransfersCount)));

                var inClinicProcedures = @Html.Raw(Json.Serialize(Model.HospitalPracticeSummaryViewModels.Select(hp => hp.InClinicProceduresCount)));
                var pathProcedures = @Html.Raw(Json.Serialize(Model.HospitalPracticeSummaryViewModels.Select(hp => hp.PathProceduresCount)));
                var dispObservations = @Html.Raw(Json.Serialize(Model.HospitalPracticeSummaryViewModels.Select(hp => hp.DispObservationsCount)));
                var commissionAprs = @Html.Raw(Json.Serialize(Model.HospitalPracticeSummaryViewModels.Select(hp => hp.CommissionAprsCount)));
                var protocolDrugHPTherapies = @Html.Raw(Json.Serialize(Model.HospitalPracticeSummaryViewModels.Select(hp => hp.ProtocolDrugTherapiesCount)));
                var patientHPTransfers = @Html.Raw(Json.Serialize(Model.HospitalPracticeSummaryViewModels.Select(hp => hp.PatientTransfersCount)));

                var ppData = {
                    labels: labelsCP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("Plannings"))',
                            data: plannings,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var insData = {
                    labels: labelsCP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("Ins"))',
                            data: ins,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var outsData = {
                    labels: labelsCP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("Outs"))',
                            data: outs,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var protocolDrugTherapiesData = {
                    labels: labelsCP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("ProtocolDrugTherapies"))',
                            data: protocolDrugTherapies,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var patientTransfersData = {
                    labels: labelsCP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("PatientTransfers"))',
                            data: patientTransfers,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var inClinicProceduresData = {
                    labels: labelsHP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("InClinicProcedures"))',
                            data: inClinicProcedures,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var pathProceduresData = {
                    labels: labelsHP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("PathProcedures"))',
                            data: pathProcedures,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var dispObservationsData = {
                    labels: labelsHP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("DispObservations"))',
                            data: dispObservations,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var commissionAprsData = {
                    labels: labelsHP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("CommissionAprs"))',
                            data: commissionAprs,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var protocolDrugTherapiesHPData = {
                    labels: labelsHP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("ProtocolDrugTherapies"))',
                            data: protocolDrugHPTherapies,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                var patientTransfersHPData = {
                    labels: labelsHP,
                    datasets: [
                        {
                            label: '@Html.Raw(medicDataLocalization.Get("PatientTransfers"))',
                            data: patientHPTransfers,
                            backgroundColor: "blue",
                            borderColor: "lightblue",
                            fill: false,
                            lineTension: 0,
                            radius: 5
                        }
                    ]
                };

                LineChart(document.querySelector('#cp-plannings'), ppData, generateOptions('@Html.Raw(medicDataLocalization.Get("Plannings"))'));
                LineChart(document.querySelector('#cp-ins'), insData, generateOptions('@Html.Raw(medicDataLocalization.Get("Ins"))'));
                LineChart(document.querySelector('#cp-outs'), outsData, generateOptions('@Html.Raw(medicDataLocalization.Get("Outs"))'));
                LineChart(document.querySelector('#cp-protocol-drug-therapies'), protocolDrugTherapiesData, generateOptions('@Html.Raw(medicDataLocalization.Get("ProtocolDrugTherapies"))'));
                LineChart(document.querySelector('#cp-patient-transfers'), patientTransfersData, generateOptions('@Html.Raw(medicDataLocalization.Get("PatientTransfers"))'));

                LineChart(document.querySelector('#hospital-practice-clinic-procedures'), inClinicProceduresData, generateOptions('@Html.Raw(medicDataLocalization.Get("InClinicProcedures"))'));
                LineChart(document.querySelector('#hospital-practice-path-procedures'), pathProceduresData, generateOptions('@Html.Raw(medicDataLocalization.Get("PathProcedures"))'));
                LineChart(document.querySelector('#hospital-practice-disp-observations'), dispObservationsData, generateOptions('@Html.Raw(medicDataLocalization.Get("DispObservations"))'));
                LineChart(document.querySelector('#hospital-practice-commission-arps'), commissionAprsData, generateOptions('@Html.Raw(medicDataLocalization.Get("CommissionAprs"))'));
                LineChart(document.querySelector('#hospital-practice-drug-therapiest'), protocolDrugTherapiesHPData, generateOptions('@Html.Raw(medicDataLocalization.Get("ProtocolDrugTherapies"))'));
                LineChart(document.querySelector('#hospital-practice-patient-transfers'), patientTransfersHPData, generateOptions('@Html.Raw(medicDataLocalization.Get("PatientTransfers"))'));

                window.removeEventListener('load', showCharts);

                function generateOptions (text) {
                    return options = {
                        responsive: true,
                        title: {
                            display: true,
                            position: "top",
                            text: text,
                            fontSize: 18,
                            fontColor: "#111"
                        }
                    };
                }
            }
        })();
    </script>
}