@model HistologicalResultSummaryViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <hr/>
    <div class="row">
        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("Code"))</div>
        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get("Date"))</div>
        <div class="col-sm-8 font-weight-bold">@Html.Raw(medicDataLocalization.Get("Note"))</div>
    </div>
    <div class="row">
        <div class="col-sm-2">@Model.Code</div>
        <div class="col-sm-2">@Model.Date.ToShortDateString()</div>
        <div class="col-sm-8">@Model.Note</div>
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get("NoResults"))</div>
}