@model string
@inject GeneralLocalization generalLocalization

<div>
    <a asp-controller="@MedicBaseController.GetName(nameof(HomeController))"
       asp-action="@nameof(HomeController.Language)"
       asp-route-lang="en"
       class="@(string.Equals(Model, "en", StringComparison.OrdinalIgnoreCase) ? "btn-sm btn-success" : "btn-sm-dark btn-sm")">@Html.Raw(generalLocalization.Get(GeneralLocalization.En))</a>
    <a asp-controller="@MedicBaseController.GetName(nameof(HomeController))"
       asp-action="@nameof(HomeController.Language)"
       asp-route-lang="bg"
       class="@(string.Equals(Model, "bg", StringComparison.OrdinalIgnoreCase) ? "btn-sm btn-success" : "btn-sm-dark btn-sm")">@Html.Raw(generalLocalization.Get(GeneralLocalization.Bg))</a>
</div>