@model VersionCodeViewModel

@inject MedicDataLocalization medicDataLocalization


@if (Model != default)
{
    <hr/>
    <div class="row">
        <div class="col-sm-4 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.BatchNumber)):</div>
        <div class="col-sm-8">@Html.Raw(Model.BatchNumber)</div>
    </div>
    <div class="row">
        <div class="col-sm-4 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.QuantityPack)):</div>
        <div class="col-sm-8">@Html.Raw(Model.QuantityPack)</div>
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}