@using Medic.AppModels.ProtocolDrugTherapies

@model ProtocolDrugTherapyPageIndexModel

@inject MedicDataLocalization medicDataLocalization

@{
    ViewData[Constants.Title] = Model.Title;

    Dictionary<string, string> paramsByName = Model.Search != default ? Model.Search.BuildQuery(default) : new Dictionary<string, string>();

    Dictionary<string, string> excelByName = new Dictionary<string, string>(paramsByName.Where(kv =>
    !string.Equals(kv.Key, nameof(Model.Search.Length), StringComparison.OrdinalIgnoreCase) &&
    !string.Equals(kv.Key, nameof(Model.Search.Order), StringComparison.OrdinalIgnoreCase) &&
    !string.Equals(kv.Key, nameof(Model.Search.Direction), StringComparison.OrdinalIgnoreCase)));

    ViewData[Constants.Sexes] = Model.Sexes;
    ViewData[Constants.HealthRegions] = Model.HealthRegions;
    ViewData[Constants.ATCNames] = Model.ATCNames;
}

<article>
    <header>
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ProtocolDrugTherapiesView)): @Html.Raw(Model.TotalResults) @Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Results))</h2>
        <h4 class="text-center text-info">@Html.Raw(Model.Keywords)</h4>
        <section class="text-right">
            <a asp-controller="@ProtocolDrugTherapyController.GetName(nameof(ProtocolDrugTherapyController))"
               asp-action="@nameof(ProtocolDrugTherapyController.Excel)"
               asp-all-route-data="@excelByName"
               download
               title="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsExcel))"
               class="export-anchor">
                <img asp-append-version="true" src="~/images/excel.jpg" class="export-image" alt="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsJson))" />
            </a>
        </section>
    </header>
    <section>
        <partial name="~/Views/Shared/Partials/ProtocolDrugTherapies/ProtocolDrugTherapiesSearch.cshtml" model="@Model.Search" view-data="@ViewData" />
    </section>
    <section class="mt-sm-1 clearfix">
        <partial name="~/Views/Shared/Partials/ProtocolDrugTherapies/ProtocolDrugTherapiesOrder.cshtml" model="@Model.Search" />
    </section>
    <section class="mt-sm-1">
        @if (Model.ProtocolDrugTherapies != default && Model.ProtocolDrugTherapies.Count > 0)
        {
            <div>
                <div class="row">
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ProtocolDate))</div>
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DecisionDate))</div>
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DiagnoseCode))</div>
                    <div class="col-sm-3 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DiagnoseName))</div>
                    <div class="col-sm-3 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DrugProtocolsATCNames))</div>
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ViewPatient))</div>
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ViewProtocolDrugTherapy))</div>
                </div>
                @foreach (ProtocolDrugTherapyPreviewViewModel currentProtocolDrugTherapy in Model.ProtocolDrugTherapies)
                {
                    <hr />
                    <div class="row">
                        <div class="col-sm-1">@Html.Raw(currentProtocolDrugTherapy.ProtocolDate.ToShortDateString())</div>
                        <div class="col-sm-1">@Html.Raw(currentProtocolDrugTherapy.DecisionDate.ToShortDateString())</div>
                        <div class="col-sm-2">@Html.Raw(currentProtocolDrugTherapy.DiagnoseCode)</div>
                        <div class="col-sm-3">@Html.Raw(currentProtocolDrugTherapy.DiagnoseName)</div>
                        <div class="col-sm-3">@Html.Raw(string.Join(", ", currentProtocolDrugTherapy.DrugProtocolsATCNames))</div>
                        <div class="col-sm-1">
                            <a asp-controller="@MedicBaseController.GetName(nameof(PatientController))"
                               asp-action="@nameof(PatientController.Patient)"
                               asp-route-id="@currentProtocolDrugTherapy.PatientId" class="btn btn-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.View))</a>
                        </div>
                        <div class="col-sm-1">
                            <a asp-controller="@MedicBaseController.GetName(nameof(ProtocolDrugTherapyController))"
                               asp-action="@nameof(ProtocolDrugTherapyController.ProtocolDrugTherapy)"
                               asp-route-id="@currentProtocolDrugTherapy.Id"
                               class="btn btn-secondary">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.View))</a>
                        </div>
                    </div>
                }
            </div>
            <footer>
                <pager page-count="@Model.TotalPages"
                       current-page="@Model.CurrentPage"
                       controller-name="@MedicBaseController.GetName(nameof(ProtocolDrugTherapyController))"
                       action-name="@nameof(ProtocolDrugTherapyController.Index)"
                       additional-properties="@paramsByName"
                       nav-class-names="btn-toolbar"
                       ul-class-names="pagination"
                       li-class-names="page-item"
                       li-selected-class-names="page-item active"
                       anchor-class-names="page-link">

                </pager>
            </footer>
        }
        else
        {
            <div class="text-center text-info font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
        }
    </section>
</article>
@section Scripts {
    <environment names="Development">
        <script defer src="~/js/formreset.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/formreset.min.js" asp-append-version="true"></script>
    </environment>
}