@model ProtocolDrugTherapyPageProtocolDrugTherapyModel
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData[Constants.Title] = Model.Title;
}

@if (Model.ProtocolDrugTherapy != default)
{
    <article>
        <header>
            <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ProtocolDrugTherapyView))</h2>
            <h4 class="text-center text-info">@Html.Raw(Model.Keywords)</h4>
            <section class="text-right">
                <a asp-controller="@ProtocolDrugTherapyController.GetName(nameof(ProtocolDrugTherapyController))"
                   asp-action="@nameof(ProtocolDrugTherapyController.Xml)"
                   asp-route-id="@Model.ProtocolDrugTherapy.Id"
                   download
                   title="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsXml))"
                   class="export-anchor">
                    <img asp-append-version="true" src="~/images/xml.jpg" class="export-image" alt="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsXml))" />
                </a>
                <a asp-controller="@ProtocolDrugTherapyController.GetName(nameof(ProtocolDrugTherapyController))"
                   asp-action="@nameof(ProtocolDrugTherapyController.Json)"
                   asp-route-id="@Model.ProtocolDrugTherapy.Id"
                   download
                   title="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsJson))"
                   class="export-anchor">
                    <img asp-append-version="true" src="~/images/json.jpg" class="export-image" alt="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsJson))" />
                </a>
            </section>
        </header>
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Patient))</h2>
        <partial name="~/Views/Shared/Partials/Patients/PatientSummaryViewModel.cshtml" model="@Model.ProtocolDrugTherapy.Patient" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Chairman))</h2>
        <partial name="~/Views/Shared/Partials/HealthcarePractitioners/HealthcarePractitionerSummaryViewModel.cshtml" model="@Model.ProtocolDrugTherapy.Chairman" />
        <hr />
        <div>@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ProtocolDate)): @Html.Raw(Model.ProtocolDrugTherapy.ProtocolDate.ToString("g"))</div>
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Diag))</h2>
        <partial name="~/Views/Shared/Partials/Diags/DiagPreviewViewModel.cshtml" model="@Model.ProtocolDrugTherapy.Diag" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Practice))</h2>
        <partial name="~/Views/Shared/Partials/Practices/PracticePreviewViewModel.cshtml" model="@Model.ProtocolDrugTherapy.Practice" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.HematologyPart))</h2>
        <partial name="~/Views/Shared/Partials/HematologyParts/HematologyPartPreviewViewModel.cshtml" model="@Model.ProtocolDrugTherapy.HematologyPart" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ChemotherapyPart))</h2>
        <partial name="~/Views/Shared/Partials/ChemotherapyParts/ChemotherapyPartPreviewViewModel.cshtml" model="@Model.ProtocolDrugTherapy.ChemotherapyPart" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DrugProtocols))</h2>
        <partial name="~/Views/Shared/Partials/DrugProtocols/DrugProtocolPreviewViewModels.cshtml" model="@Model.ProtocolDrugTherapy.DrugProtocols" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.AccompanyingDrugs))</h2>
        <partial name="~/Views/Shared/Partials/AccompanyingDrugs/AccompanyingDrugPreviewViewModels.cshtml" model="@Model.ProtocolDrugTherapy.AccompanyingDrugs" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.AdditionalInformation))</h2>
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.PatientBranch)): @Html.Raw(Model.ProtocolDrugTherapy.PatientBranch)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.PatientHRegion)): @Html.Raw(Model.ProtocolDrugTherapy.PatientHRegion)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NumberOfDecision)): @Html.Raw(Model.ProtocolDrugTherapy.NumberOfDecision)</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DecisionDate)): @Html.Raw(Model.ProtocolDrugTherapy.DecisionDate.ToString("g"))</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.PracticeCodeProtocol)): @Html.Raw(Model.ProtocolDrugTherapy.PracticeCodeProtocol)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NumberOfProtocol)): @Html.Raw(Model.ProtocolDrugTherapy.NumberOfProtocol)</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Height)): @Html.Raw(Model.ProtocolDrugTherapy.Height)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Weight)): @Html.Raw(Model.ProtocolDrugTherapy.Weight)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.BSA)): @Html.Raw(Model.ProtocolDrugTherapy.BSA)</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.TherapyLine)): @Html.Raw(Model.ProtocolDrugTherapy.TherapyLine)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Scheme)): @Html.Raw(Model.ProtocolDrugTherapy.Scheme)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.CycleCount)): @Html.Raw(Model.ProtocolDrugTherapy.CycleCount)</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Sign)): @Html.Raw(Model.ProtocolDrugTherapy.Sign)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.CPFile)): @Html.Raw(Model.ProtocolDrugTherapy.CPFile)</div>
        </div>
    </article>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}