@model ChemotherapyPartPreviewViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <div>
        <div class="row">
            <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DiagnoseDate)): @Html.Raw(Model.DiagnoseDate.ToString("g"))</div>
            <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExpandDiagnose)): @Html.Raw(Model.ExpandDiagnose)</div>
            <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ECOG)): @Html.Raw(Model.ECOG)</div>
            <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Staging)): @Html.Raw(Model.Staging)</div>
        </div>
        <div class="row">
            <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.TNM)): @Html.Raw(Model.TNM)</div>
            <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.TherapyType)): @Html.Raw(Model.TherapyType)</div>
            <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.EvalAfterCycle)): @Html.Raw(Model.EvalAfterCycle)</div>
            <div class="col-sm-3">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Interval)): @Html.Raw(Model.Interval)</div>
        </div>
        <hr />
        <h6 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.AddDiag))</h6>
        <partial name="~/Views/Shared/Partials/Diags/DiagPreviewViewModels.cshtml" model="@Model.AddDiags" />
        <hr />
        <h6 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Histology))</h6>
        <partial name="~/Views/Shared/Partials/Histologies/HistologyPreviewViewModel.cshtml" model="@Model.Histology" />
        <hr />
        <h6 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.GenMarkers))</h6>
        <partial name="~/Views/Shared/Partials/GenMarkers/GenMarkerPreviewViewModels.cshtml" model="@Model.GenMarkers" />
        <hr />
        <h6 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Evaluation))</h6>
        <partial name="~/Views/Shared/Partials/Evaluations/EvaluationPreviewViewModel.cshtml" model="@Model.Evaluation" />
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}