@model APr38PreviewViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <div>
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Height")): @Model.Height</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Weight")): @Model.Weight</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("History")): @Model.History</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("FairCondition")): @Model.FairCondition</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get("Therapy")): @Model.Therapy</div>
        </div>
        <h6 class="text-center">@Html.Raw(medicDataLocalization.Get("Evaluation"))</h6>
        <partial name="~/Views/Shared/Partials/Evaluations/EvaluationPreviewViewModel.cshtml" model="@Model.Decision" />
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get("NoResults"))</div>
}