@model APr38PreviewViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <div>
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Height)): @Model.Height</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Weight)): @Model.Weight</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.History)): @Model.History</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.FairCondition)): @Model.FairCondition</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Therapy)): @Model.Therapy</div>
        </div>
        <h6 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Evaluation))</h6>
        <partial name="~/Views/Shared/Partials/Evaluations/EvaluationPreviewViewModel.cshtml" model="@Model.Decision" />
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}