@model TherapyTypePreviewViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <div>
        <div class="row">
            <div class="col-sm-6">@Html.Raw(medicDataLocalization.Get("Code")): @Model.Code</div>
            <div class="col-sm-6">@Html.Raw(medicDataLocalization.Get("Name")): @Model.Name</div>
        </div>
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get("NoResults"))</div>
}