@using Medic.App.Models.FileUploads

@model FileUploadPageCPFile

@{
    ViewData[Constants.Title] = Model.Title;
}

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(Model.Error)
    </div>
}

<div class="container">
    <article>
        <header>
            <h2>@Html.Raw(Model.Title)</h2>
            <h4>@Html.Raw(Model.Keywords)</h4>
        </header>
        <form asp-controller="@MedicBaseController.GetName(nameof(FileUploadController))" asp-action="@nameof(FileUploadController.CPFile)"
              method="post" enctype="multipart/form-data"
              asp-antiforgery="true">
            <input class="btn" type="file" id="CpFileFormFile" name="CpFileFormFile" />
            <input class="btn btn-primary" type="submit" value="Sumbit" />
        </form>
    </article>
</div>