@model HealthcarePractitionerSummaryViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <div>
        <div class="row">
            <div class="col-sm-2">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Speciality)):</div>
            <div class="col-sm-10">@Html.Raw(Model.Speciality)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Name)):</div>
            <div class="col-sm-10">@Html.Raw(Model.Name)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.UniqueIdentifier)):</div>
            <div class="col-sm-10">@Html.Raw(Model.UniqueIdentifier)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DeputyUniqueIdentifier)):</div>
            <div class="col-sm-10">@Html.Raw(Model.DeputyUniqueIdentifier)</div>
        </div>
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}