@model HealthcarePractitionerSummaryViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <div>
        <div class="row">
            <div class="col-sm-2">@medicDataLocalization.Get("Speciality"):</div>
            <div class="col-sm-10">@Model.Speciality</div>
        </div>
        <div class="row">
            <div class="col-sm-2">@medicDataLocalization.Get("Name"):</div>
            <div class="col-sm-10">@Model.Name</div>
        </div>
        <div class="row">
            <div class="col-sm-2">@medicDataLocalization.Get("UniqueIdentifier"):</div>
            <div class="col-sm-10">@Model.UniqueIdentifier</div>
        </div>
        <div class="row">
            <div class="col-sm-2">@medicDataLocalization.Get("DeputyUniqueIdentifier"):</div>
            <div class="col-sm-10">@Model.DeputyUniqueIdentifier</div>
        </div>
    </div>
}
else
{
    <div class="text-center text-info">@medicDataLocalization.Get("NoResults")</div>
}