@model PracticePreviewViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <div class="row">
        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Branch))</div>
        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Number))</div>
        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Code))</div>
        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Name))</div>
        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.HealthRegion))</div>
        <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Address))</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2">@Html.Raw(Model.Branch)</div>
        <div class="col-sm-2">@Html.Raw(Model.Number)</div>
        <div class="col-sm-2">@Html.Raw(Model.Code)</div>
        <div class="col-sm-2">@Html.Raw(Model.Name)</div>
        <div class="col-sm-2">@Html.Raw(Model.HealthRegion)</div>
        <div class="col-sm-2">@Html.Raw(Model.Address)</div>
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}