@model List<GenMarkerPreviewViewModel>
@inject MedicDataLocalization medicDataLocalization

@if (Model != default && Model.Count > 0)
{
    <div class="row">
        <div class="col-sm-6 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Name))</div>
        <div class="col-sm-6 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Sign))</div>
    </div>
    @foreach (var maker in Model)
    {
        <hr />
        <div class="row">
            <div class="col-sm-6">@maker.Name</div>
            <div class="col-sm-6">@maker.Sign</div>
        </div>
    }
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}