@model DiagnosePreviewViewModel
@inject GeneralLocalization generalLocalization

@if (Model != default)
{
    <div class="row">
        <div class="col-sm-2 font-weight-bold">@Html.Raw(generalLocalization.Get(GeneralLocalization.Code))</div>
        <div class="col-sm-10 font-weight-bold">@Html.Raw(generalLocalization.Get(GeneralLocalization.Name))</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2">@Model.Code</div>
        <div class="col-sm-10">@Model.Name</div>
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(generalLocalization.Get(GeneralLocalization.NoData))</div>
}