@model List<DiagnosePreviewViewModel>
@inject GeneralLocalization generalLocalization

@if (Model != default && Model.Count > 0)
{
    <div class="row">
        <div class="col-sm-2 font-weight-bold">@Html.Raw(generalLocalization.Get(GeneralLocalization.Code))</div>
        <div class="col-sm-10 font-weight-bold">@Html.Raw(generalLocalization.Get(GeneralLocalization.Name))</div>
    </div>

    @foreach (DiagnosePreviewViewModel currentDiagnose in Model)
    {
        <hr/>
        <div class="row">
            <div class="col-sm-2">@Html.Raw(currentDiagnose.Code)</div>
            <div class="col-sm-10">@Html.Raw(currentDiagnose.Name)</div>
        </div>
    }
}
else
{
    <div class="text-center text-info">@Html.Raw(generalLocalization.Get(GeneralLocalization.NoData))</div>
}