@model List<ChoicePreviewViewModel>
@inject MedicDataLocalization medicDataLocalization
@inject IEnumResolver enumResolver

@if (Model != default && Model.Count > 0)
{
    <div class="row">
        <div class="col-sm-4 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Number))</div>
        <div class="col-sm-4 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Checked))</div>
        <div class="col-sm-4 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Text))</div>
    </div>
    @foreach (var currentChoice in Model)
    {
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(currentChoice.Number)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(enumResolver.GetEnumValue<OptionsEnum>(currentChoice.Checked)))</div>
            <div class="col-sm-4">@Html.Raw(currentChoice.Text)</div>
        </div>
    }
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}