@model CommissionAprPageCommissionAprModel
@inject MedicDataLocalization medicDataLocalization

@{
    ViewData[Constants.Title] = Model.Title;
}

@if (Model.CommissionApr != default)
{
    <article>
        <header>
            <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.CommissionAprView))</h2>
            <h4 class="text-center text-info">@Html.Raw(Model.Keywords)</h4>
            <section class="text-right">
                <a asp-controller="@CommissionAprController.GetName(nameof(CommissionAprController))"
                   asp-action="@nameof(CommissionAprController.Xml)"
                   asp-route-id="@Model.CommissionApr.Id"
                   download
                   title="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsXml))"
                   class="export-anchor">
                    <img asp-append-version="true" src="~/images/xml.jpg" class="export-image" alt="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsXml))" />
                </a>
                <a asp-controller="@CommissionAprController.GetName(nameof(CommissionAprController))"
                   asp-action="@nameof(CommissionAprController.Json)"
                   asp-route-id="@Model.CommissionApr.Id"
                   download
                   title="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsJson))"
                   class="export-anchor">
                    <img asp-append-version="true" src="~/images/json.jpg" class="export-image" alt="Html.Raw(medicDataLocalization.Get(@MedicDataLocalization.ExportAsJson))" />
                </a>
            </section>
        </header>
        <h2 class="text-center">@Html.Raw(@medicDataLocalization.Get(MedicDataLocalization.Patient))</h2>
        <partial name="~/Views/Shared/Partials/Patients/PatientSummaryViewModel.cshtml" model="@Model.CommissionApr.Patient" />
        <hr />
        <h2 class="text-center">@Html.Raw(@medicDataLocalization.Get(MedicDataLocalization.Chairman))</h2>
        <partial name="~/Views/Shared/Partials/HealthcarePractitioners/HealthcarePractitionerSummaryViewModel.cshtml" model="@Model.CommissionApr.Chairman" />
        <hr />
        <h2 class="text-center">@Html.Raw(@medicDataLocalization.Get(MedicDataLocalization.Sender))</h2>
        <partial name="~/Views/Shared/Partials/HealthcarePractitioners/HealthcarePractitionerSummaryViewModel.cshtml" model="@Model.CommissionApr.Sender" />
        <hr />
        <div>Html.Raw(@medicDataLocalization.Get(MedicDataLocalization.DateSend)): @Model.CommissionApr.SendDate.ToShortDateString()</div>
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.MainDiag))</h2>
        <partial name="~/Views/Shared/Partials/Diags/DiagPreviewViewModel.cshtml" model="@Model.CommissionApr.MainDiag" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.AddDiag))</h2>
        <partial name="~/Views/Shared/Partials/Diags/DiagPreviewViewModels.cshtml" model="@Model.CommissionApr.AddDiags" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.APr05))</h2>
        <partial name="~/Views/Shared/Partials/APr05s/APr05PreviewViewModel.cshtml" model="@Model.CommissionApr.APr05" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.APr38s))</h2>
        <partial name="~/Views/Shared/Partials/APr38s/APr38PreviewViewModel.cshtml" model="@Model.CommissionApr.APr38" />
        <hr />
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.AdditionalInformation))</h2>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.PatientBranch)): @Html.Raw(Model.CommissionApr.PatientBranch)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.PatientHRegion)): @Html.Raw(Model.CommissionApr.PatientHRegion)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.APrSend)): @Html.Raw(Model.CommissionApr.AprSend)</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.APrPriem)): @Html.Raw(Model.CommissionApr.AprPriem)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.SpecCommission)): @Html.Raw(Model.CommissionApr.SpecCommission)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoDecision)): @Html.Raw(Model.CommissionApr.NoDecision)</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.DecisionDate)): @Html.Raw(Model.CommissionApr.DecisionDate.ToString("g"))</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Sign)): @Html.Raw(Model.CommissionApr.Sign)</div>
            <div class="col-sm-4">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NZOKPay)): @Html.Raw(Model.CommissionApr.NZOKPay)</div>
        </div>
    </article>
}
else
{
    <div class="text-center text-info">Html.Raw(@medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}