@using Medic.AppModels.CommissionAprs

@model CommissionAprPageIndexModel

@inject MedicDataLocalization medicDataLocalization

@{
    ViewData["Title"] = Model.Title;

    Dictionary<string, string> paramsByName = Model.Search != default ? Model.Search.BuildQuery(default) : new Dictionary<string, string>();
    Dictionary<string, string> excelByName = new Dictionary<string, string>(paramsByName);

    ViewData[Constants.Sexes] = Model.Sexes;
    ViewData[Constants.HealthRegions] = Model.HealthRegions;
}

<article>
    <header>
        <h2 class="text-center">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.CommissionAprsView)): @Html.Raw(Model.TotalResults) @Html.Raw(medicDataLocalization.Get(MedicDataLocalization.Results))</h2>
        <h4 class="text-center text-info">@Model.Keywords</h4>
        <section class="text-right">
            <a asp-controller="@CommissionAprController.GetName(nameof(CommissionAprController))" 
               asp-action="@nameof(CommissionAprController.Excel)" 
               asp-all-route-data="@excelByName"
               asp-route-page="@Model.CurrentPage" 
               download
               title="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsExcel))"
               class="export-anchor">
                <img asp-append-version="true" src="~/images/excel.jpg" alt="@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ExportAsExcel))" class="export-image" />
            </a>
        </section>
    </header>
    <section>
        <partial name="~/Views/Shared/Partials/CommissionAprs/CommissionAprsSearch.cshtml" model="@Model.Search" view-data="@ViewData" />
    </section>
    <section class="mt-sm-1 clearfix">
        <partial name="~/Views/Shared/Partials/CommissionAprs/CommissionAprsOrder.cshtml" model="@Model.Search" />
    </section>
    <section class="mt-sm-1">
        @if (Model.CommissionAprs != default && Model.CommissionAprs.Count > 0)
        {
            <div>
                <div class="row">
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.SendDate))</div>
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.MainDiagCode))</div>
                    <div class="col-sm-2 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.MainDiagName))</div>
                    <div class="col-sm-3 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.APr05sImuno))</div>
                    <div class="col-sm-3 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.AddDiagCodes))</div>
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ViewPatient))</div>
                    <div class="col-sm-1 font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.ViewCommissionApr))</div>
                </div>
                @foreach (CommissionAprPreviewViewModel currentCommissionApr in Model.CommissionAprs)
                {
                    <hr />
                    <div class="row">
                        <div class="col-sm-1">@Html.Raw(currentCommissionApr.SendDate.ToShortDateString())</div>
                        <div class="col-sm-1">@Html.Raw(currentCommissionApr.MainDiagCode)</div>
                        <div class="col-sm-2">@Html.Raw(currentCommissionApr.MainDiagName)</div>
                        <div class="col-sm-3">@Html.Raw(currentCommissionApr.CutAPr05sImuno(Constants.CutLength))</div>
                        <div class="col-sm-3">@Html.Raw(string.Join(", ", currentCommissionApr.AddDiagCodes))</div>
                        <div class="col-sm-1">
                            <a asp-controller="@MedicBaseController.GetName(nameof(PatientController))"
                               asp-action="@nameof(PatientController.Patient)"
                               asp-route-id="@currentCommissionApr.PatientId" class="btn btn-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.View))</a>
                        </div>
                        <div class="col-sm-1">
                            <a asp-controller="@MedicBaseController.GetName(nameof(CommissionAprController))"
                               asp-action="@nameof(CommissionAprController.CommissionApr)"
                               asp-route-id="@currentCommissionApr.Id"
                               class="btn btn-secondary">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.View))</a>
                        </div>
                    </div>
                }
            </div>
            <footer>
                <pager page-count="@Model.TotalPages"
                       current-page="@Model.CurrentPage"
                       controller-name="@MedicBaseController.GetName(nameof(CommissionAprController))"
                       action-name="@nameof(CommissionAprController.Index)"
                       additional-properties="@paramsByName"
                       nav-class-names="btn-toolbar"
                       ul-class-names="pagination"
                       li-class-names="page-item"
                       li-selected-class-names="page-item active"
                       anchor-class-names="page-link">

                </pager>
            </footer>
        }
        else
        {
            <div class="text-center text-info font-weight-bold">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
        }
    </section>
</article>
@section Scripts {
    <environment names="Development">
        <script defer src="~/js/formreset.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/formreset.min.js" asp-append-version="true"></script>
    </environment>
}